@import './variables';



body{
    margin: 0;
    font-family: 'Avenir Next Regular', sans-serif;
}



//style for mobile
@media (min-width: 320px) and (max-width: 767px){

//header 
.header {
    background-color: $primary_color_black;
    
    
    &::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 7.9rem;
        width: 50%;
        height: 0.3rem;
        background-color: $primary_color_white;
    }

}

.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    gap: 0.5rem;
  

    &--img {
        width: 11rem;
    }

    &--list {
        width: 100%;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;      
        
    }
    

    &--link {
        text-decoration: none;
        color: $secondary_color_white;
        font-size: 1.3rem;
        font-weight: 100;
        position: relative;
        
        &.active{
            color: $primary_color_white;
            position: relative;
           
        }
    }  
    }
}


//Footer

.footer{
    background-color: $primary_color_black;
    color: $primary_color_white;
    padding: 1rem;

    &__touch--h1{
        font-family: 'Avenir Next Demi', 'sans serif';
        font-size: $mobile_section_header_font_weight;
    }
    
    &__touch-links{
        display: flex;
        justify-content: space-between;
        width: 7rem;
    }
    &__touch--logo--img{
        display: none;
    }

    &__box{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding: 1.5rem 0rem 2.5rem 0rem;
    }
    &__second--h3{
        font-family: 'Avenir Next Demi', 'sans serif';
        font-size: 1rem;
    }
    &__second--p{
        font-size: 0.9rem;
    }
    &__copyright{
        font-size: 0.5rem;
    }
    &__logo--img{
        width: 36%;
    }
  
}




//styles for tablets
@media (min-width: 768px) and (max-width: 1279px) {

 //header 
.header {
    background-color: $primary_color_black;
    padding: 2rem 5rem;
   
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;

    &--img {
        width: 11rem;
    }

    &--list {
        list-style: none;
        display: flex;
        gap: 3rem;
    }

    &--link {
        text-decoration: none;
        color: $secondary_color_white;
        font-size: 1.3rem;
        font-weight: 100;
        position: relative;

        &.active {
            color: $primary_color_white;
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                top: 4.3rem;
                width: 100%;
                height: 0.4rem;
                background-color: $primary_color_white;
              
            }
        }
    }
}


//Footer

.footer{
    background-color: $primary_color_black;
    color: $primary_color_white;
    padding: 4rem;

    &__touch--h1{
        font-family: 'Avenir Next Demi', 'sans serif';
        font-size: 1.8rem;
    }
    
    &__touch{
        display: flex;
        justify-content: space-between;
    }
   
    &__touch--div{
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-family: 'Avenir Next Regular';
    }
    &__touch-links{
        display: flex;
        gap: 3rem; 
    }
   
    &__touch--logo--img{
        display: block;
        width: 8rem;
    }
    &__touch div{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        height: 4vh;
    }

    &__box{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 0.8rem;
        padding: 1.5rem 0rem 2.5rem 0rem;
    }
    &__second--h3{
        font-family: 'Avenir Next Demi', 'sans serif';
        font-size: 1rem;
    }
    &__second--p{
        font-size: 1rem;
    }
    &__copyright{
        font-size: 1rem;
    }
    &__logo--img{
        display: none;
        width: 100%;
    }
  
}
   
}

//styles for tablets
@media (min-width: 1280px) {

     //header 
.header {
    background-color: $primary_color_black;
    padding: 2rem 10rem;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    &--img {
        width: 11rem;
    }

    &--list {
        list-style: none;
        display: flex;
        gap: 3rem;
    }

    &--link {
        text-decoration: none;
        color: $secondary_color_white;
        font-size: 1.3rem;
        font-weight: 100;
        position: relative;

        &.active {
            color: $primary_color_white;
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                top: 4.3rem;
                width: 100%;
                height: 0.4rem;
                background-color: $primary_color_white;
              
            }
        }
    }
}


//Footer

.footer{
    background-color: $primary_color_black;
    color: $primary_color_white;
    padding: 4rem 10rem;

    &__touch--h1{
        font-family: 'Avenir Next Demi', 'sans serif';
        font-size: 3rem;
    }
    
    &__touch{
        display: flex;
        justify-content: space-between;
    }
   
    &__touch--div{
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-family: 'Avenir Next Regular';
    }
    &__touch-links{
        display: flex;
        gap: 3rem; 
    }
   
    &__touch--logo--img{
        display: block;
        width: 11rem;
    }
    &__touch div{
        display: flex;
        justify-content: flex-start;
        gap: 6rem;
        align-items: center;
        height: 4vh;
    }

    &__box{
        display: flex;
        justify-content: flex-start;
        gap: 7rem;
        flex-direction: row;
        padding: 1.5rem 0rem 2.5rem 0rem;
    }
    &__second--h3{
        font-family: 'Avenir Next Demi', 'sans serif';
        font-size: 1.2rem;
    }
    &__second--p{
        font-size: 1rem;
    }
    &__copyright{
        font-size: 1.1rem;
    }
    &__logo--img{
        display: none;
    }
  
}


}
