@mixin hero-overlay {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(61, 61, 61, 0.353);
        z-index: 0;
    }
}
