/* type kit */

// typeface & weights
@font-face {
    font-family: 'Avenir Next Regular'; 
    src: url('/Assets/Font/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('/Assets/Font/AvenirNextLTPro-Demi.otf'); 
    
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url('/Assets/Font/AvenirNextLTPro-Bold.otf'); 
    
}