/* Devices size*/

$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1279px;
$desktop-min-width: 1280px;



/* Desktop and Tablets text styles */

//Page Header
$desktop_page_header_font_size: 3.75rem; 
$desktop_page_header_line_height: 4.25rem; 
$desktop_page_header_text_weight: 700;

//Section Header
$desktop_section_header_font_size: 2.25rem; 
$desktop_section_header_line_height: 2.75rem; 
$desktop_section_header_text_weight: 700;

//Subheader
$desktop_subheader_font_size: 1.5rem; // 
$desktop_subheader_line_height: 2rem; // 
$desktop_subheader_text_weight: 600;

//Body copy
$desktop_bodycopy_font_size: 0.875rem; // 
$desktop_bodycopy_line_height: 1.375rem; // 
$desktop_bodycopy_font_weight: 400;

//Footer Copy
$desktop_footercopy_font_size: 0.875rem; // 
$desktop_footercopy_line_height: 1.25rem; 
$desktop_footercopy_font_weight: 400;

//Labels & Buttons
$desktop_labels_buttons_font_size: 0.75rem; 
$desktop_labels_buttons_line_height: 1.25rem; 
$desktop_labels_buttons_font_weight: 700;

/* Mobile Text Styles */

// Page Header
$mobile_page_header_font_size: 1.5rem; // 
$mobile_page_header_line_height: 2rem; // 
$mobile_page_header_font_weight: 700;

//Section Header
$mobile_section_header_font_size: 1.5rem; 
$mobile_section_header_line_height: 2rem; 
$mobile_section_header_font_weight: 700;

//Subheader
$mobile_subheader_font_size: 0.875rem; // 
$mobile_subheader_line_height: 1.375rem; // 
$mobile_subheader_font_weight: 600;

//Body Copy
$mobile_body_copy_font_size: 0.8125rem; // 
$mobile_body_copy_line_height: 1.125rem; // 
$mobile_body_copy_font_weight: 400;

//Footer Copy
$mobile_footer_copy_font_size: 0.8125rem; 
$mobile_footer_copy_line_height: 1.125rem; 
$mobile_footer_copy_font_weight: 400;

//Mobile Labels and Buttons
$mobile_labels_buttons_font_size: 0.625rem; 
$mobile_labels_buttons_line_height: 1.25rem; 
$mobile_labels_buttons_font_weight: 700;

/* Colors */

//primary
$primary_color_black: #323232;
$primary_color_silver: #AFAFAF;
$primary_color_white: #FFFFFF;

//Secondary
$secondary_color_darkBlack: #000000;
$secondary_color_gray: #E1E1E1;
$secondary_color_white: #FAFAFA;





