/* Devices size*/
/* type kit */
@font-face {
  font-family: "Avenir Next Regular";
  src: url("/Assets/Font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("/Assets/Font/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("/Assets/Font/AvenirNextLTPro-Bold.otf");
}
/* Desktop and Tablets text styles */
/* Mobile Text Styles */
/* Colors */
body {
  margin: 0;
  font-family: "Avenir Next Regular", sans-serif;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    background-color: #323232;
  }
  .header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 7.9rem;
    width: 50%;
    height: 0.3rem;
    background-color: #FFFFFF;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    gap: 0.5rem;
  }
  .header__nav--img {
    width: 11rem;
  }
  .header__nav--list {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__nav--link {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 1.3rem;
    font-weight: 100;
    position: relative;
  }
  .header__nav--link.active {
    color: #FFFFFF;
    position: relative;
  }
}
.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
.footer__touch--h1 {
  font-family: "Avenir Next Demi", "sans serif";
  font-size: 700;
}
.footer__touch-links {
  display: flex;
  justify-content: space-between;
  width: 7rem;
}
.footer__touch--logo--img {
  display: none;
}
.footer__box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.5rem 0rem 2.5rem 0rem;
}
.footer__second--h3 {
  font-family: "Avenir Next Demi", "sans serif";
  font-size: 1rem;
}
.footer__second--p {
  font-size: 0.9rem;
}
.footer__copyright {
  font-size: 0.5rem;
}
.footer__logo--img {
  width: 36%;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    background-color: #323232;
    padding: 2rem 5rem;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .header__nav--img {
    width: 11rem;
  }
  .header__nav--list {
    list-style: none;
    display: flex;
    gap: 3rem;
  }
  .header__nav--link {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 1.3rem;
    font-weight: 100;
    position: relative;
  }
  .header__nav--link.active {
    color: #FFFFFF;
    position: relative;
  }
  .header__nav--link.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 4.3rem;
    width: 100%;
    height: 0.4rem;
    background-color: #FFFFFF;
  }
  .footer {
    background-color: #323232;
    color: #FFFFFF;
    padding: 4rem;
  }
  .footer__touch--h1 {
    font-family: "Avenir Next Demi", "sans serif";
    font-size: 1.8rem;
  }
  .footer__touch {
    display: flex;
    justify-content: space-between;
  }
  .footer__touch--div {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: "Avenir Next Regular";
  }
  .footer__touch-links {
    display: flex;
    gap: 3rem;
  }
  .footer__touch--logo--img {
    display: block;
    width: 8rem;
  }
  .footer__touch div {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 4vh;
  }
  .footer__box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.8rem;
    padding: 1.5rem 0rem 2.5rem 0rem;
  }
  .footer__second--h3 {
    font-family: "Avenir Next Demi", "sans serif";
    font-size: 1rem;
  }
  .footer__second--p {
    font-size: 1rem;
  }
  .footer__copyright {
    font-size: 1rem;
  }
  .footer__logo--img {
    display: none;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .header {
    background-color: #323232;
    padding: 2rem 10rem;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .header__nav--img {
    width: 11rem;
  }
  .header__nav--list {
    list-style: none;
    display: flex;
    gap: 3rem;
  }
  .header__nav--link {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 1.3rem;
    font-weight: 100;
    position: relative;
  }
  .header__nav--link.active {
    color: #FFFFFF;
    position: relative;
  }
  .header__nav--link.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 4.3rem;
    width: 100%;
    height: 0.4rem;
    background-color: #FFFFFF;
  }
  .footer {
    background-color: #323232;
    color: #FFFFFF;
    padding: 4rem 10rem;
  }
  .footer__touch--h1 {
    font-family: "Avenir Next Demi", "sans serif";
    font-size: 3rem;
  }
  .footer__touch {
    display: flex;
    justify-content: space-between;
  }
  .footer__touch--div {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: "Avenir Next Regular";
  }
  .footer__touch-links {
    display: flex;
    gap: 3rem;
  }
  .footer__touch--logo--img {
    display: block;
    width: 11rem;
  }
  .footer__touch div {
    display: flex;
    justify-content: flex-start;
    gap: 6rem;
    align-items: center;
    height: 4vh;
  }
  .footer__box {
    display: flex;
    justify-content: flex-start;
    gap: 7rem;
    flex-direction: row;
    padding: 1.5rem 0rem 2.5rem 0rem;
  }
  .footer__second--h3 {
    font-family: "Avenir Next Demi", "sans serif";
    font-size: 1.2rem;
  }
  .footer__second--p {
    font-size: 1rem;
  }
  .footer__copyright {
    font-size: 1.1rem;
  }
  .footer__logo--img {
    display: none;
  }
}
/* Devices size*/
/* type kit */
@font-face {
  font-family: "Avenir Next Regular";
  src: url("/Assets/Font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("/Assets/Font/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("/Assets/Font/AvenirNextLTPro-Bold.otf");
}
/* Desktop and Tablets text styles */
/* Mobile Text Styles */
/* Colors */
@media (min-width: 320px) and (max-width: 767px) {
  .main__hero {
    position: relative;
    background-image: url("/Assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    height: 45vh;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
  }
  .main__hero--heading {
    margin: 0;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-family: "Avenir Next Demi", "sans serif";
  }
  .main__hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.183);
  }
  .main__about {
    padding: 2rem 1rem;
    background-color: #FAFAFA;
  }
  .main__about--image {
    width: 100%;
  }
  .main__about--h2 {
    font-size: 700;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding-bottom: 1rem;
  }
  .main__about--desc1--h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-family: "Avenir Next Demi";
    color: #323232;
  }
  .main__about--desc1--p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
  }
  .main__about--desc2 {
    color: #000000;
  }
  .main__about--desc2--h2 {
    font-size: 1rem;
  }
  .main__about--desc2--p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
  }
  .main__about--desc2--pad {
    margin-bottom: 1.5rem;
  }
  .main__gallery {
    padding: 0rem 1rem;
    background-color: #E1E1E1;
  }
  .main__gallery--h2 {
    font-size: 700;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding: 2rem 0rem;
  }
  .main__gallery-img {
    padding: 0.5rem 0rem;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero {
    position: relative;
    background-image: url("/Assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 0rem 4rem;
  }
  .main__hero--heading {
    margin: 0;
    color: #FFFFFF;
    font-size: 6.5vw;
    font-family: "Avenir Next Demi", "sans serif";
  }
  .main__hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.183);
  }
  .main__about {
    padding: 4rem 4rem;
    background-color: #FAFAFA;
  }
  .main__about--h2 {
    font-size: 3.2rem;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding-bottom: 4rem;
  }
  .main__about--image {
    height: 53vh;
    width: 100%;
  }
  .main__about--desc1 {
    padding: 0rem 5rem;
  }
  .main__about--desc1--h3 {
    font-size: 2.1rem;
    line-height: 3rem;
    font-family: "Avenir Next Demi";
    color: #323232;
  }
  .main__about--desc1--p {
    font-size: 1.8rem;
    line-height: 3rem;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
  }
  .main__about--desc2 {
    color: #000000;
    padding: 0rem 5rem;
  }
  .main__about--desc2-box {
    display: flex;
    gap: 2rem;
  }
  .main__about--desc2--h2 {
    font-size: 2.5rem;
    font-weight: 900;
  }
  .main__about--desc2--p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin: 0;
    min-width: 18rem;
    max-width: 30rem;
  }
  .main__about--desc2--pad {
    margin-bottom: 1.5rem;
  }
  .main__gallery {
    padding: 2rem 4rem;
    background-color: #E1E1E1;
  }
  .main__gallery-img {
    width: 100%;
  }
  .main__gallery--h2 {
    font-size: 3.2rem;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding: 2rem 0rem;
  }
  .main__gallery--div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem 0rem;
  }
}
@media (min-width: 1280px) {
  .main__hero {
    position: relative;
    background-image: url("/Assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0rem 10rem;
  }
  .main__hero--heading {
    margin: 0;
    color: #FFFFFF;
    font-size: 4rem;
    font-family: "Avenir Next Demi", "sans serif";
  }
  .main__hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.183);
  }
  .main__about {
    padding: 4rem 10rem;
    background-color: #FAFAFA;
  }
  .main__about--h2 {
    font-size: 3.2rem;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding-bottom: 4rem;
  }
  .main__about--image {
    width: 100%;
    height: 600px;
  }
  .main__about--desc1 {
    padding: 0rem 8rem;
  }
  .main__about--desc1--h3 {
    font-size: 2.1rem;
    line-height: 3rem;
    font-family: "Avenir Next Demi";
    color: #323232;
  }
  .main__about--desc1--p {
    font-size: 1.8rem;
    line-height: 3rem;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
  }
  .main__about--desc2 {
    color: #000000;
    padding: 0rem 8rem;
  }
  .main__about--desc2-box {
    display: flex;
    gap: 2rem;
  }
  .main__about--desc2--h2 {
    font-size: 2rem;
    font-weight: 900;
  }
  .main__about--desc2--p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin: 0;
  }
  .main__about--desc2--pad {
    margin-bottom: 1.5rem;
  }
  .main__gallery {
    padding: 2rem 10rem;
    background-color: #E1E1E1;
  }
  .main__gallery--h2 {
    font-size: 3.2rem;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding: 2rem 0rem;
  }
  .main__gallery--div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem 0rem;
  }
  .main img {
    width: 100%;
  }
}/*# sourceMappingURL=bio.css.map */