@import './partials/global';
@import './partials/variables';



@media (min-width: 320px) and (max-width: 767px){


.main {
    //Hero Section
    &__hero{
        position: relative;
        background-image: url('/Assets/Images/hero-bio.jpg');
        background-size: cover;
        background-position: center;
        height: 45vh;
        display: flex;
        align-items: center;
        padding: 0rem 1rem;
    

        &--heading{
           margin: 0;
           color: $primary_color_white;
           font-size: 1.8rem;
           font-family: 'Avenir Next Demi', 'sans serif';
        }
        
    }
    &__hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(61, 61, 61, 0.183);
        
    }

    //About Section
    &__about{
        padding: 2rem 1rem;
        background-color: $secondary_color_white;
    
    
        &--image{
            width: 100%;
        }
        &--h2{
            font-size: $mobile_section_header_font_weight;
            font-weight: bolder; 
            font-family: 'Avenir Next Demi';   
            color: $primary_color_black;
            margin: 0;
            padding-bottom: 1rem;
        }
        &--desc1--h3{
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: $mobile_section_header_font_weight;
            font-family:  'Avenir Next Demi';
            color: $primary_color_black;
        }
        &--desc1--p {
            font-size: 1rem;
            line-height: 1.5rem;
            font-family:  'Avenir Next Demi';
            color: $primary_color_black;
            margin: 0;
        }
        &--desc2{
            color: $secondary_color_darkBlack;

            &--h2{
                font-size: 1rem;
            }
            &--p{
                font-size: 0.9rem;
                line-height: 1.5;
                margin: 0;

               
            }
            &--pad{
                margin-bottom: 1.5rem;
            }
        }
    }

    //Gallery Section

    &__gallery{
        padding: 0rem 1rem;
        background-color: $secondary_color_gray;

        &--h2{
            font-size: $mobile_section_header_font_weight;
            font-weight: bolder; 
            font-family: 'Avenir Next Demi';   
            color: $primary_color_black;
            margin: 0;
            padding: 2rem 0rem;
        }
        &-img{
            padding: 0.5rem 0rem;
            width: 100%;
        }
    }

}

  
    
}

    
//styles for tablets
@media (min-width: 768px) and (max-width: 1279px) {
    .main {
        //Hero Section
        &__hero{
            position: relative;
            background-image: url('/Assets/Images/hero-bio.jpg');
            background-size: cover;
            background-position: center;
            height: 70vh;
            display: flex;
            align-items: center;
            padding: 0rem 4rem;
    
            &--heading{
               margin: 0;
               color: $primary_color_white;
               font-size: 6.5vw;
               font-family: 'Avenir Next Demi', 'sans serif';
            }
            
        }
        &__hero::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(61, 61, 61, 0.183);
            
        }
    
        //About Section
        &__about{
            padding: 4rem 4rem;
            background-color: $secondary_color_white;
        
            &--h2{
                font-size: 3.2rem;
                font-weight: bolder; 
                font-family: 'Avenir Next Demi';   
                color: $primary_color_black;
                margin: 0;
                padding-bottom: 4rem;
            }
            &--image{
                height: 53vh;
                width: 100%;
            }
            &--desc1{
                padding: 0rem 5rem;
            }
            &--desc1--h3{
                font-size: 2.1rem;
                line-height: 3rem;
                font-family:  'Avenir Next Demi';
                color: $primary_color_black;
            }
            &--desc1--p {
                font-size: 1.8rem;
                line-height: 3rem;
                font-family:  'Avenir Next Demi';
                color: $primary_color_black;
                margin: 0;
            }
            &--desc2{
                color: $secondary_color_darkBlack;
                padding: 0rem 5rem;

                &-box{
                    display: flex;
                    gap: 2rem;
                }
                
    
                &--h2{
                    font-size: 2.5rem;
                    font-weight: 900;
                }
                &--p{
                    font-size: 1.2rem;
                    line-height: 2.4rem;
                    margin: 0;
                    min-width: 18rem;
                    max-width: 30rem;
                  
    
                   
                }
                &--pad{
                    margin-bottom: 1.5rem;
                }
            }
        }
    
        //Gallery Section
    
        &__gallery{
            padding: 2rem 4rem;
            background-color: $secondary_color_gray;
    
            &-img{
                width: 100%;
            }
            &--h2{
                font-size: 3.2rem;
                font-weight: bolder; 
                font-family: 'Avenir Next Demi';   
                color: $primary_color_black;
                margin: 0;
                padding: 2rem 0rem;
            }
            &--div{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.5rem;
                padding: 2rem 0rem;
        
            }
           
        }
    
    }
      
 }
    
//styles for tablets
@media (min-width: 1280px) {
    .main {
        //Hero Section
        &__hero{
            position: relative;
            background-image: url('/Assets/Images/hero-bio.jpg');
            background-size: cover;
            background-position: center;
            height: 80vh;
            display: flex;
            align-items: center;
            padding: 0rem 10rem;
    
            &--heading{
               margin: 0;
               color: $primary_color_white;
               font-size: 4rem;
               font-family: 'Avenir Next Demi', 'sans serif';
            }
            
        }
        &__hero::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(61, 61, 61, 0.183);
            
        }
    
        //About Section
        &__about{
            padding: 4rem 10rem;
            background-color: $secondary_color_white;
        
            &--h2{
                font-size: 3.2rem;
                font-weight: bolder; 
                font-family: 'Avenir Next Demi';   
                color: $primary_color_black;
                margin: 0;
                padding-bottom: 4rem;
            }
            &--image{
                width: 100%;
                height: 600px;
            }
            &--desc1{
                padding: 0rem 8rem;
            }
            &--desc1--h3{
                font-size: 2.1rem;
                line-height: 3rem;
                font-family:  'Avenir Next Demi';
                color: $primary_color_black;
            }
            &--desc1--p {
                font-size: 1.8rem;
                line-height: 3rem;
                font-family:  'Avenir Next Demi';
                color: $primary_color_black;
                margin: 0;
            }
            &--desc2{
                color: $secondary_color_darkBlack;
                padding: 0rem 8rem;

                &-box{
                    display: flex;
                    gap: 2rem;
                }
                
    
                &--h2{
                    font-size: 2rem;
                    font-weight: 900;
                }
                &--p{
                    font-size: 1.2rem;
                    line-height: 2.4rem;
                    margin: 0;
                    // min-width: 18rem;
                    // max-width: 30rem;
                  
    
                   
                }
                &--pad{
                    margin-bottom: 1.5rem;
                }
            }
        }
    
        //Gallery Section
    
        &__gallery{
            padding: 2rem 10rem;
            background-color: $secondary_color_gray;
    
            &--h2{
                font-size: 3.2rem;
                font-weight: bolder; 
                font-family: 'Avenir Next Demi';   
                color: $primary_color_black;
                margin: 0;
                padding: 2rem 0rem;
            }
            &--div{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.5rem;
                padding: 2rem 0rem;
        
            }
           
        }
    
    }
    
    .main img{
        width: 100%;
    }  
    
    
}
    

