/* Devices size*/
/* Desktop and Tablets text styles */
/* Mobile Text Styles */
/* Colors */
/* type kit */
@font-face {
  font-family: "Avenir Next Regular";
  src: url("/Assets/Font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("/Assets/Font/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("/Assets/Font/AvenirNextLTPro-Bold.otf");
}
* {
  font-family: "Avenir Next Regular", sans-serif;
}

body {
  margin: 0;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 0.2rem;
}

.likeNdelete--div {
  display: flex;
  justify-content: flex-end;
}

.card__delete--el {
  background-color: #323232;
  color: #FAFAFA;
  margin-top: 1rem;
  border-radius: 0.2rem;
  padding: 0.3rem;
}

textarea {
  resize: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main__hero {
    position: relative;
    background-image: url("/Assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    height: 20rem;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
  }
  .main__hero--heading {
    margin: 0;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-family: "Avenir Next Demi", "sans serif";
    z-index: 1;
  }
  .main__hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(99, 99, 99, 0.326);
    z-index: 0;
  }
  .main__hero__heading-tog {
    z-index: 1;
  }
  .main__hero__iframe {
    z-index: 1;
  }
  .main__about {
    padding: 2rem 1rem;
    background-color: #FFFFFF;
  }
  .main__about--image {
    width: 100%;
  }
  .main__about--h2 {
    font-size: 700;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding-bottom: 1rem;
  }
  .main__about--desc1--h3 {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-family: "Avenir Next Demi";
    color: #323232;
  }
  .main__about--desc1--p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
  }
  .main__about--desc2 {
    color: #000000;
  }
  .main__about--desc2--h2 {
    font-size: 1rem;
  }
  .main__about--desc2--p {
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 0;
  }
  .main__about--desc2--pad {
    margin-bottom: 1.5rem;
  }
  .main__gallery {
    padding: 0rem 1rem;
    background-color: #FAFAFA;
  }
  .main__gallery--h2 {
    font-size: 700;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding: 2rem 0rem;
  }
  .main__gallery-img {
    padding: 0.5rem 0rem;
    width: 100%;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border: 1.5px solid black;
  }
  button:focus {
    background-color: black;
  }
  .comment {
    padding: 1rem;
  }
  .comment__join {
    font-family: "Avenir Next Demi";
    color: #323232;
  }
  .comment__avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
    top: 1.5rem;
  }
  .comment__form {
    display: flex;
    gap: 1rem;
    padding-bottom: 1.5rem;
  }
  .comment__box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .comment__label {
    font-size: 0.8rem;
    color: rgb(176, 175, 175);
    font-weight: 600;
  }
  .comment__input {
    width: 100%;
    height: 2.5rem;
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 0.3rem;
    margin: 0.5rem 0rem;
    box-shadow: 0 2px 4px rgba(130, 130, 130, 0.063);
    background-color: #FAFAFA;
    text-indent: 0.5rem;
  }
  .comment__input::-moz-placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
    font-size: 0.9rem;
  }
  .comment__input::placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
    font-size: 0.9rem;
  }
  .comment__textarea {
    width: 100%;
    height: 8rem;
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 0.3rem;
    margin: 0.5rem 0rem;
    box-shadow: 0 2px 4px rgba(130, 130, 130, 0.063);
    background-color: #FAFAFA;
    text-indent: 0.5rem;
    padding-top: 0.5rem;
  }
  .comment__textarea::-moz-placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
    font-size: 0.9rem;
  }
  .comment__textarea::placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
    font-size: 0.9rem;
  }
  .comment__submit {
    width: 102%;
    margin: 0;
    height: 2.5rem;
    border: none;
    background-color: #323232;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  .comment__submit:hover {
    background-color: #000000;
  }
  .card {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-top: 1.9px solid rgba(174, 174, 174, 0.383);
    padding: 1rem 0rem;
  }
  .card:last-child {
    border-bottom: 1.9px solid rgba(174, 174, 174, 0.383);
  }
  .card__comments {
    display: flex;
    border-top: 2px solid #E1E1E1;
    gap: 1rem;
  }
  .card__comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
  }
  .card__comments-avatar {
    background-color: #E1E1E1;
    border: none !important;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    position: relative;
    top: 1.5rem;
  }
  .card__comment-date {
    color: #AFAFAF;
    font-size: 0.9rem;
  }
  .card__comment-text {
    margin: 0;
    width: 70vw;
    font-size: 0.825rem;
    line-height: 1.1rem;
  }
  .card__comment--author {
    font-size: 0.9rem;
    font-family: "Avenir Next Demi";
    color: #323232;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero {
    position: relative;
    background-image: url("/Assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    height: 35rem;
    display: flex;
    align-items: center;
    padding: 0rem 2.5rem;
  }
  .main__hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(99, 99, 99, 0.326);
    z-index: 0;
  }
  .main__hero__heading-tog {
    z-index: 1;
  }
  .main__hero__iframe {
    z-index: 1;
  }
  .main__hero--heading {
    margin: 0;
    color: #FFFFFF;
    font-size: 3.5rem;
    font-family: "Avenir Next Demi", "sans serif";
    z-index: 1;
  }
  .main__about {
    padding: 3rem 2.5rem;
    background-color: #FFFFFF;
  }
  .main__about--h2 {
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding-bottom: 1.5rem;
  }
  .main__about--image {
    width: 100%;
  }
  .main__about--desc1 {
    padding: 0rem 3rem;
  }
  .main__about--desc1--h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "Avenir Next Demi";
    color: #323232;
  }
  .main__about--desc1--p {
    font-size: 1rem;
    line-height: 3rem;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
  }
  .main__about--desc2 {
    color: #000000;
    padding: 2rem 3rem;
  }
  .main__about--desc2-box {
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
    gap: 1.5rem;
  }
  .main__about--desc2--h2 {
    font-size: 1.7rem;
    font-weight: bolder;
    color: black;
  }
  .main__about--desc2--p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 0;
    min-width: 18rem;
    max-width: 30rem;
  }
  .main__about--desc2--pad {
    margin-bottom: 1.5rem;
  }
  .main__gallery {
    padding: 2rem 4rem;
    background-color: #FAFAFA;
  }
  .main__gallery-img {
    width: 100%;
  }
  .main__gallery--h2 {
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding: 2rem 0rem;
  }
  .main__gallery--div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem 0rem;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border: 1.5px solid black;
  }
  button:focus {
    background-color: black;
  }
  .comment {
    padding: 2.5rem;
  }
  .comment__form {
    display: flex;
    gap: 1rem;
    padding: 0rem 3.5rem 1.5rem 3.5rem;
  }
  .comment__join {
    font-family: "Avenir Next Demi";
    color: #323232;
    font-size: 2.2rem;
  }
  .comment__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    top: 1.5rem;
  }
  .comment__box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .comment__label {
    font-size: 0.8rem;
    color: rgb(176, 175, 175);
    font-weight: 600;
  }
  .comment__input {
    width: 100%;
    height: 2.5rem;
    border: 1.5px solid rgba(219, 219, 219, 0.508);
    border-radius: 0.3rem;
    margin: 0.5rem 0rem;
    box-shadow: 0 2px 4px rgba(130, 130, 130, 0.063);
    background-color: #FAFAFA;
    text-indent: 0.5rem;
  }
  .comment__input::-moz-placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
  }
  .comment__input::placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
  }
  .comment__textarea {
    width: 100%;
    height: 6rem;
    border: 1.5px solid rgba(219, 219, 219, 0.508);
    border-radius: 0.3rem;
    margin: 0.5rem 0rem;
    box-shadow: 0 2px 4px rgba(130, 130, 130, 0.063);
    background-color: #FAFAFA;
    text-indent: 0.5rem;
    padding-top: 0.7rem;
  }
  .comment__textarea::-moz-placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
    font-size: 0.9rem;
  }
  .comment__textarea::placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
    font-size: 0.9rem;
  }
  .comment__submit {
    margin-top: 1rem;
    width: 10rem;
    height: 2.5rem;
    border: none;
    background-color: #323232;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    align-self: flex-end;
  }
  .comment__submit:hover {
    background-color: black;
  }
  .card {
    display: flex;
    gap: 1rem;
    border-top: 1.9px solid rgba(174, 174, 174, 0.383);
    margin: 1.5rem 3rem;
    padding: 1rem 0rem;
    gap: 1rem;
  }
  .card:last-child {
    border-bottom: 1.9px solid rgba(174, 174, 174, 0.383);
    padding-bottom: 1.5rem;
  }
  .card__comment-text {
    margin: 0;
    width: 70vw;
    font-size: 0.825rem;
    line-height: 1.1rem;
  }
  .card__comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
  }
  .card__comments {
    display: flex;
    border-top: 2px solid #E1E1E1;
    gap: 1rem;
  }
  .card__comments-avatar {
    background-color: #E1E1E1;
    width: 2.5rem;
    height: 2.5rem;
    border: none !important;
    border-radius: 50%;
    position: relative;
    top: 1.5rem;
  }
  .card__comment-date {
    color: #AFAFAF;
    font-size: 0.9rem;
  }
  .card__comment--author {
    font-size: 0.9rem;
    font-family: "Avenir Next Demi";
    color: #323232;
  }
}
@media (min-width: 1280px) {
  .main__hero {
    position: relative;
    background-image: url("/Assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 0rem 7rem;
  }
  .main__hero--heading {
    margin: 0;
    color: #FFFFFF;
    font-size: 4.5rem;
    font-family: "Avenir Next Demi", "sans serif";
    z-index: 1;
  }
  .main__hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(99, 99, 99, 0.326);
    z-index: 0;
  }
  .main__hero__heading-tog {
    z-index: 1;
  }
  .main__hero__iframe {
    z-index: 1;
  }
  .main__about {
    padding: 3rem 8.5rem;
    background-color: #FFFFFF;
  }
  .main__about--h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding-bottom: 2.5rem;
  }
  .main__about--image {
    width: 100%;
  }
  .main__about--desc1 {
    padding: 0rem 5rem;
  }
  .main__about--desc1--h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "Avenir Next Demi";
    color: #323232;
    max-width: 84%;
  }
  .main__about--desc1--p {
    font-size: 1rem;
    line-height: 3rem;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
  }
  .main__about--desc2 {
    color: #000000;
    padding: 2rem 5rem;
  }
  .main__about--desc2-box {
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
    gap: 1.5rem;
  }
  .main__about--desc2--h2 {
    font-size: 1.7rem;
    font-weight: bolder;
    color: black;
  }
  .main__about--desc2--p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 0;
    min-width: 18rem;
    max-width: 30rem;
  }
  .main__about--desc2--pad {
    margin-bottom: 1.5rem;
  }
  .main__gallery {
    padding: 2rem 10rem;
    background-color: #FAFAFA;
  }
  .main__gallery img {
    width: 100%;
  }
  .main__gallery--h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: "Avenir Next Demi";
    color: #323232;
    margin: 0;
    padding: 2rem 0rem;
  }
  .main__gallery--div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem 0rem;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border: 1.5px solid black;
  }
  button:focus {
    background-color: black;
  }
  .comment {
    padding: 2.5rem 10rem;
  }
  .comment__form {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 0rem 15rem 1.5rem 15rem;
  }
  .comment__join {
    font-family: "Avenir Next Demi";
    color: #323232;
    font-size: 2.2rem;
  }
  .comment__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    top: 1.5rem;
  }
  .comment__box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .comment__label {
    font-size: 0.8rem;
    color: rgb(176, 175, 175);
    font-weight: 600;
  }
  .comment__input {
    width: 100%;
    height: 2.5rem;
    border: 1.5px solid rgba(219, 219, 219, 0.508);
    border-radius: 0.3rem;
    margin: 0.5rem 0rem;
    box-shadow: 0 2px 4px rgba(130, 130, 130, 0.063);
    background-color: #FAFAFA;
    text-indent: 0.5rem;
  }
  .comment__input::-moz-placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
  }
  .comment__input::placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
  }
  .comment__textarea {
    width: 100%;
    height: 6rem;
    border: 1.5px solid rgba(219, 219, 219, 0.508);
    border-radius: 0.3rem;
    margin: 0.5rem 0rem;
    box-shadow: 0 2px 4px rgba(130, 130, 130, 0.063);
    background-color: #FAFAFA;
    text-indent: 0.5rem;
    padding-top: 0.7rem;
  }
  .comment__textarea::-moz-placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
    font-size: 0.9rem;
  }
  .comment__textarea::placeholder {
    color: #323232;
    font-family: "Avenir Next Regular";
    font-size: 0.9rem;
  }
  .comment__submit {
    margin-top: 1rem;
    width: 10rem;
    height: 2.5rem;
    border: none;
    background-color: #323232;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    align-self: flex-end;
  }
  .comment__submit:hover {
    background-color: black;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border-top: 0.12rem solid rgba(219, 219, 219, 0.508);
    gap: 1rem;
    margin: 0rem 14.5rem 1.5rem 14.5rem;
  }
  .card__comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32vw;
  }
  .card__comment-text {
    margin: 0;
    width: 32vw;
    font-size: 0.825rem;
    line-height: 1.1rem;
  }
  .card__comments {
    display: flex;
    border-top: 2px solid #E1E1E1;
    gap: 1rem;
  }
  .card__comments-avatar {
    background-color: #E1E1E1;
    width: 2.5rem;
    height: 2.5rem;
    border: none !important;
    border-radius: 50%;
    position: relative;
    top: 1.5rem;
  }
  .card__comment-date {
    color: #AFAFAF;
    font-size: 0.9rem;
  }
  .card__comment--author {
    font-size: 0.9rem;
    font-family: "Avenir Next Demi";
    color: #323232;
  }
}/*# sourceMappingURL=bio.css.map */