@import './partials/variables';
@import './partials/typography';
@import './partials/mixins';

main{
    height: auto;
}


@media (min-width: $mobile-min-width) and (max-width: $mobile-max-width){
.show{
    // hero section    
    &__hero{
        position: relative;
        background-image: url('/Assets/Images/hero-shows.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem 2rem 1rem;
        color: white;
    
        @include hero-overlay;
    }
    @include hero-overlay;
    &__h3,
    &__h1{
        padding-bottom: 1rem;  
    }
    &__h3{
       position: relative;
       top: 1.2rem;
       font-size: 1rem;
    }
    &__h1{
        font-family: 'Avenir Next Demi';
    } 
}
//shows section
.shows{
    padding: 2rem 1rem;
    &-h2{
        font-family: 'Avenir Next Demi';
        color: $primary_color_black;
        font-size: 1.6rem;
    }
    &__event{
        padding: 1rem 0rem;
        border-bottom: 2px solid rgba(189, 189, 189, 0.292);
        &:active{
            background-color: $primary_color_silver;
        }
        &:hover{
            background-color: $secondary_color_white;
        }
    }
    &-title{
        display: none;
    }
    & h4{
        display: none;
    }
    & p{
        font-size: 0.8rem;
        color: $primary_color_silver;
    }
    &-venue,
    &--location{
      font-size: 1rem;
      color: black;
    }
    &--date{
        font-size: 1rem;
        font-weight: 800; 
        font-family: 'Avenir Next Demi';
    }
    &--button{
        border: none;
        background-color: $primary_color_black;
        color: $secondary_color_white;
        height: 2.6rem;
        width: 100%;
        border-radius: 0.2rem;
        font-size: 1rem;
        margin-top: 0.5rem;
    }
 }  
 .selected{
    background-color: #E1E1E1;
}
}
@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width){
.show{
    &__hero{
        position: relative;
        background-image: url('/Assets/Images/hero-shows.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        padding: 0rem 2rem 2rem 2rem;
        color: white;
        height: 35rem;
        @include hero-overlay;
    }
    @include hero-overlay;
    &__h3{
        font-size: 1.5rem;
        position: relative;
        top: 5.5rem;
        font-family: 'Avenir Next Demi';
    }
    &__h1{
        font-size: 3.8rem;
        font-family: 'Avenir Next Demi';
        position: relative;
        top: 3.5rem;
    }
    &__iframe{
        width: 55vw;
        height: 9.5rem;
        position: relative;
        top: 3.5rem;
    }
}
.shows{
    padding: 2rem;
    @include shows-card-tabletNdesktop;
    &--button{
        width: 22vw;
    }
    &--button{
        border: none;
        height: 3rem;
        background-color: $primary_color_black;
        color: $secondary_color_white;
        font-size: 1rem;
        font-weight: bolder;
        border-radius: 0.2rem;
     } 
     &__event{
        display: flex;
        padding: 1rem 1rem;
        border-bottom: 2px solid rgba(189, 189, 189, 0.292);
        cursor: pointer;
        &:hover{
            background-color: $secondary_color_white;
        }
    }
}
.selected{
    background-color: #E1E1E1;
}
}
@media (min-width: $desktop-min-width) {
    .show{
        &__hero{
            position: relative;
            background-image: url('/Assets/Images/hero-shows.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0rem 7rem 2rem 7rem;
            color: white;
            height: 45rem;
            @include hero-overlay;
        }
        @include hero-overlay;
        &__h3{
            font-size: 1.6rem;
            position: relative;
            top: 3rem;
            font-family: 'Avenir Next Demi';
        }
       
        &__h1{
            font-size: 4rem;
            font-family: 'Avenir Next Demi';
            position: relative;
            top: 1.3rem;
            max-width: 42vw;
            & br {
                display: none;
            }
        }
        &__iframe{
            width: 35vw;
            height: 9.5rem;
            position: relative;
            top: 3.5rem;
        }
    }

    .shows{
        padding: 2rem 7rem;
        display: flex;
        justify-content: space-between;
        &--button{
            width: 13vw;
        }
        &--button{
            border: none;
            height: 3rem;
            background-color: $primary_color_black;
            color: $secondary_color_white;
            font-size: 1rem;
            font-weight: bolder;
            border-radius: 0.2rem;
            &:hover{
                background-color: black;
            }
         } 
         &__event{
            display: flex;
            padding: 1rem 1rem;
            border-bottom: 2px solid rgba(189, 189, 189, 0.292);
            cursor: pointer;
            &:active{
                background-color: $primary_color_silver;
            }
            &:hover{
                background-color: $secondary_color_white;
            }
        }
        &-h2{
            font-size: 2.5rem;
            font-family: 'Avenir Next Demi';
            color: $primary_color_black;
            margin: 0;
        }
        & p{
            display: none;
           
        }
        &-title{
           display: flex;
           padding: 0rem 1rem;
        }
        &--item{
            display: flex;
        }
     
        & h4{
            font-size: 0.8rem;
            color: $primary_color_silver;
        }
        &--date-t,
        &--date{
            width: 19vw;
        }
        &--date{
            font-size: 0.9rem;
            font-family: 'Avenir Next Demi';
        }
        &-venue,
        &--location{
            font-size: 0.9rem;
    
        }
        &-venue-t,
        &-venue,
        &--location{
            width: 15vw;
        }   
    }
    .selected{
        background-color: #E1E1E1;
    }
}